attr==0.3.1
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
curlify==2.2.1
graphql-core==3.1.2
hypothesis==5.43.3
hypothesis-graphql==0.3.2
hypothesis-jsonschema==0.18.2
idna==2.10
iniconfig==1.1.1
jsonschema==3.2.0
junit-xml==1.9
multidict==5.1.0
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.1
pytest-subtests==0.4.0
PyYAML==5.3.1
requests==2.25.1
six==1.15.0
sortedcontainers==2.3.0
starlette==0.14.1
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
yarl==1.6.3
